.home{
    background-image: linear-gradient(black,white);
    background-repeat: no-repeat;
}

.head{
    color: white;
    font-weight: bold;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pic{
height: 400px;
position: relative;
}

li{
    font-size: 30px;
    color: black;
}

ul{
    font-size: 30px;
}

.youtube{
    opacity: 50%;
    float: right;
    margin-right: 50px;
}

.graph{
    max-width: 400px;
    max-height: 300px;
    position: relative;
}

.link{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:visited{
    color: darkred;
}